


.dpt-cat .dpt-head .ri-close-line {
  font-size: 27px;
}

.maincontainer{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    width: 80%;
    margin:50px auto;
}

.maincontainer .bigcon{
     /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    margin: 50px;
    box-shadow: 0 0 25px 0px black;
    border-radius: 10px;
    overflow: hidden;
}

@media screen and (max-width:850px){
  .maincontainer .bigcon{
  margin: 50px 0;
  }

}

.maincontainer .bigcon .imgframe{
  width: 800px;
  height: 342px;
}
.maincontainer .bigcon .imgframe img{
width: 100%;
height: 100%;
/* border-radius: 10px; */
}

.maincontainer .bigcon .textcontent{
  margin: 30px 30px;
  }
